.course-page{
    margin: auto;
    padding: px;
}

.course-subtitle{
	display: inline;
}

.course-text{
	display: inline;
}

.course-link {
	color: #000FFF;
}

.course-info {
	background-color: #ffdf88;
	border-radius: 1rem;
	border-color: black;
    text-align: auto;
    width: 35vw;
    margin: auto;
    padding: 15px;
    line-height: 2;
}

.tutor-info {
    background-color: rgb(230, 227, 109);
    border-radius: 1rem;
	border-color: black;
    text-align: auto;
    margin: auto;
    width: 35vw;
    padding: 20px;
    line-height: 2.2;
}

.tutor-exp {
    background-color: rgb(174, 228, 113);
    border-radius: 1rem;
	border-color: black;
    text-align: auto;
    margin: auto;
    width: 60vw;
    padding: 15px;
    line-height: 1.2;
}