label {
    text-align: left;
    display: inline;
}
.CreateCourse-form{
    background-color: #b5dff5;
    border-radius: 20px;
    max-width: 800px;
    margin: 0 auto 100px;
    padding: 8%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.CreateCourse-form input{
     font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 230px;
    border: 0;
    margin: 0 0 3px;
    padding: 1px;
    box-sizing: border-box;
    font-size: 14px;
    
}
.CreateCourse-block{
     width: 360px;
     padding: 2% 0 0;
     margin: auto;
}
.CreateCourse-form select{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 3px;
  padding: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.CreateCourse-form button {
  margin: 2vw;
}