#Home {
    font-family: 'Kanit', sans-serif;
    padding-bottom: 0%;
}
#Head {
  /* background: linear-gradient(rgb(0, 255, 42), rgb(255, 255, 255)); */
  background-image: url("background1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 0rem;
  opacity: 0.85;
}
img{
    width: 50%;
    padding-bottom: 10%;
}
.lead1 {
  font-family: 'Kanit', sans-serif;
  font-size : 150%;
  color: #ffffff;
}
.title{
    font-family: 'Kanit', sans-serif;
    font-size: 400%;
    color:#ffffff;
    padding-bottom: 2%;
    padding-top : 3%;
}
.button{
    border: none;
    color: black;
    padding: 15px 32px;
    font-size: 150%;
}
.desc{
    font-size: 150%;
}
.row{
    margin: 0% !important;
}
#lastCol{
    margin-right: 0%
}
/* .jumbotron{
    border-radius: 0;
} */