.background01 {
  padding-top: 10px;
  background: url("../photo/bg1.jpg");
  background-size: 100% 125%;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 100vw;
}
.profile-page {
  margin-left: 15%;
  margin-right: 15%;
  min-height: 100vh;
  max-width: 100vw;
}

.profileContainer {
  text-align: center;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 20vw auto;
}
.imgBox {
  /*border: 2px solid #999;
	border-radius: 1rem;*/
  display: -webkit-flex;
  display: flex;
}
.tutorHead {
  width: 75%;
  padding: 0;
  margin: auto;
  border-radius: 1rem;
}

.profile {
  margin-top: 12px;
  margin-bottom: 12px;
  border: 2px solid #999;
  padding: 15px;
  border-radius: 0.5rem;
}
input,
select {
  width: 100%;
  padding: 4px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/*#editLastname {
	margin-left: 10px;
}
#editGender {
	margin-left: 10px;
}
#editBank {
	margin-left: 10px;
}
#editBanknumber {
	margin-left: 10px;
}
*/
#editFirstname,
#editLastname,
#editGender,
#editBank,
#editBanknumber,
#editBirthyear,
#editEmail,
#editBank,
#editBanknumber,
#editPhonenumber {
  margin: 10px;
}
input[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.experienceContainer {
  margin-top: 25px;
  margin-bottom: 12px;
  border: 2px solid #999;
  padding: 15px;
  border-radius: 0.5rem;
}
.titleOnBorder {
  position: absolute;
  float: left;
  padding: 0 5px;
  margin-top: -28px;
  background: #efede9;
  border-radius: 0.5rem;
}

.course-contain {
  background-color: #99999910;
  margin-top: 25px;
  border: 2px solid #999;
  padding: 15px;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5vh;
}
.card-subtitle {
  display: inline;
}

.card-text {
  display: inline;
}

.card-link {
  color: #000fff;
}
.card-body {
  position: relative;
  background-color: #ffdf88;
  border-radius: 1rem;
  border-color: black;
  text-align: auto;
  border: 2px solid #999;
}
.profileBtn {
  display: block;
  text-align: center;
}
#spacer {
  width: 100%;
  height: 25px;
  float: left;
  display: inline-block;
}
#delBtn {
  position: absolute;
  left: 50%;
  margin-left: -35.5015px;
  bottom: 8px;
}

@media (min-width: 1023px) {
  .course-contain {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 769px) {
  .course-contain {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .profile-page {
    margin-left: 2%;
    margin-right: 2%;
  }
  .profileContainer {
    margin-left: 14%;
    margin-right: 14%;
    display: block;
  }
  .experienceContainer {
    margin-left: 14%;
    margin-right: 14%;
  }
  .tutorHead {
    height: 70%;
    padding: 10px;
    margin: auto;
    border-radius: 1rem;
  }
  .course-contain {
    grid-template-columns: repeat(1, 1fr);
  }
}

#topBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1.5px solid black;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  color: Black;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}

#topBtn:hover {
  background-color: lightcyan;
}

.btn-profile {
  margin-left: 2%;
}
