.input_text{
	width: 100%;
}

.label_register{
	padding: 0px 0px 0px 0;
  display: inline-block;

}

.new_row:after {
  content: "";
  display: table;
  clear: both;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 20%;
  text-align: left;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
  text-align: left;
}

.container_register {
  border-radius: 2.5%;
  background-color: #f2f2f2;
  padding: 2.5%;
  width: 50%;
  vertical-align: center;
  margin: 0 auto;
}