.search-page {
	padding-top: 50px;
	background: url("../photo/bg.jpg");
	background-size: 80%;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;

	/*position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
	
	background: linear-gradient(to top right, #79FA21, #12AF97);*/	
}

.search-filter-container{
	padding: 10px;
	background: #d6d6d6;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1%;
	margin-bottom: 2%;
	float: left;
	border-radius: 1rem;
}

.search-result-container{
	margin-top: 0.4%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.5vh;
	padding: 10px;
}

.card-subtitle{
	display: inline;
}

.card-text{
	display: inline;
}

.card-link {
	color: #000FFF;
}

#search-card{
	border: 0px;
}
.card-body {
	background-color: #ffdf88;
	border-radius: 1rem;
	border-color: black;
	text-align: auto;
}

.search-row {
  display: inline-grid;
  grid-column-gap: 4px;
  grid-template-columns: auto auto;
  padding: 10px;
}
.search-select{
	margin: auto;
	text-align: center;
}

.search{
	text-align: left;
}

@media (max-width: 500px){
	.search-result-container{
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-width: 760px){
  .search-result-container {
		width: 100%;
  }
  
  .search-filter-container {
		width: 70%;
		display:inline-block;
		float:none;
  }
}
@media (min-width: 420px){
	.search-result-container{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 1000px) {
	.search-result-container{
		grid-template-columns: repeat(3, 1fr);
	}
}

#topBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border:1.5px solid black;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  color: Black;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}	

#topBtn:hover{
	background-color: lightcyan;
}