::placeholder { /*Mai ru wa work every browser pow AND i can't find inline css for this, go google it for a little more info*/
    /*color: red;*/
    opacity: 0.7;
}
label {
    text-align: left;
}
.signUp-form input{
    height: 30px;
    border-radius: 5px;
}
.signUp-form{
    background-color: #b5dff5;
}
.signUp-form select{
    height: 25px;
}