.background01 {
  padding-top: 10px;
  background: url("../photo/bg1.jpg");
  background-size: 100% 125%;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 100vw;
}

.course-contain {
  background-color: #99999910;
  margin-top: 25px;
  border: 2px solid #999;
  padding: 15px;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5vh;
}

@media (min-width: 1023px) {
  .course-contain {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 769px) {
  .course-contain {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .course-contain {
    grid-template-columns: repeat(1, 1fr);
  }
}
.titleOnBorder {
  position: absolute;
  float: left;
  padding: 0 5px;
  margin-top: -28px;
  background: #efede9;
  border-radius: 0.5rem;
}

.tutorCourse-page {
  margin-left: 15%;
  margin-right: 15%;
  min-height: 100vh;
  max-width: 100vw;
}
.card-body {
  position: relative;
  background-color: #ffdf88;
  border-radius: 1rem;
  border-color: black;
  text-align: auto;
  border: 2px solid #999;
}

.card-subtitle {
  display: inline;
}

.card-text {
  display: inline;
}

.card-link {
  color: #000fff;
}
.card-body {
  position: relative;
  background-color: #ffdf88;
  border-radius: 1rem;
  border-color: black;
  text-align: auto;
  border: 2px solid #999;
}

.btn-profile {
  margin-left: 2%;
}
