.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light:hover {
  color: rgba(0, 0, 0, 0.5);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  background-color: #0000ff;
  color : white;
}

.active:hover {
  color : white
}
.nav{
  padding: 0% !important;
}
.navbar{
  padding: 0% !important;
}
.juiheader {
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(4, 155, 229);
}
.profile{
  float: center;
}
.juiheaderbutton {
  float: center;
  display: block;
  color: white;
  text-align: center;
  margin : 0px;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.2s;
  margin: none;
}
.juiheaderbutton:hover:not(.active) {
  background-color: white;
  color: black;
  border-bottom-color: black solid 10px;
}

.juiaccount {
  float: center;
  display: block;
  border: none;
  color: white;
  background-color: rgba(118,214,58,0.8);
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  margin: auto;
}

.juibutton-green {
  background-color: #17da3e;
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  padding: 2vw;
  border: none;
  border-radius: 10%;
  color: white;
  transition: 0.2s;
}

.juibutton-green:hover {
  background-color: #7af993;
  color: black;
}

.login-block {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}

.login-form {
  background: rgba(181,223,245, 1);
  max-width: 800px;
  margin: 0 auto 100px;
  padding: 65px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #144CB7;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  margin:30px 0 0;
}

.login-form button:hover {
  background-color: rgba(60,132,203,0.8);
  color: black;
}

.login-form label {
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.signUp-block {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}

.signUp-form {
  background: rgba(124, 252, 0, 0.7);
  max-width: 800px;
  margin: 0 auto 100px;
  padding: 10%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.signUp-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 230px;
  border: 0;
  margin: 0 0 3px;
  padding: 1px;
  box-sizing: border-box;
  font-size: 14px;
}

.signUp-form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 3px;
  padding: 3px;
  box-sizing: border-box;
  font-size: 14px;
}

.signUp-form button {
  background-color: white;
  margin: 2vw;
}

.experience{
  text-align: left;
}
